{% extends 'manager/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Add Delivery Person</h2>
                        {% if msg %}
                        <p class="card-text text-primary text-center">{{msg}}</p>
                    {% endif %}
                    <form name="add_delivery_person" method="post" action="{% url 'add_delivery_person' %}" enctype="multipart/form-data">    
                        {% csrf_token %}  
                                    <div class="group-input">
                                        <input class="form-control" type="text" placeholder="Name" name="name">
                                    </div>
                                    <div class="group-input">
                                        <input class="form-control" type="text" placeholder="Vehicle Number" name="vehicle_number">
                                    </div>
                                    <div class="group-input">
                                        <input class="form-control" type="file" name="profile_pic">
                                    </div>
                                    <div class="group-input">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->
    
    {% endblock %}