{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Forget Password</h2>
							{% if msg %}
                        <p class="card-text text-primary">{{msg}}</p>
                    {% endif %}
							<form name="signup" method="post" action="{% url 'forgot_password' %}">
								{% csrf_token %}
							
							<div class="group-input">
								<input class="input" type="text" placeholder="Enter Mobile Number" name="mobile" value="{{user.mobile}}">
							</div>
							
							
							
							<div class="group-input">
								<input class="btn btn-primary" type="submit" value="Send OTP">
							</div>
							</form>
						</div>
						<!-- /Billing Details -->

						

						
					</div>

					
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		{% endblock %}