{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Change Password</h2>
                        {% if msg %}
                        <p class="card-text text-primary">{{msg}}</p>
                    {% endif %}
                        <form name="login" method="post" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            <div class="group-input">
                                <input class="input" type="password" name="old_password" placeholder="Old Password">
                            </div>
                            <div class="group-input">
                                <input class="input" type="password" name="new_password" placeholder="New Password">
                            </div>
							<div class="group-input">
                                <input class="input" type="password" name="cnew_password" placeholder="Confirm New Password">
                            </div>
							<div class="group-input">
                                <input class="btn btn-primary" type="submit" value="Change Password">
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}
